<div class="rounded-xl flex justify-center border shadow-lg w-fit h-fit" {{did-insert this.setupQRCode}} 
{{did-update this.updateQRCode
    @height
    @width
    @data 
    @image 
    @dotcolor 
    @type
    @bgcolor
    @cornerSquare
    @cornerDot
    @colorStops0
    @colorStops1
    @image_type
    @gradient_type
    @rotation
    }}>
</div>

<div>
    <button type="button" class="rounded-xl p-2 mt-4 bg-blue-500 text-white" {{on "click" this.downloadQRCode}}>Download</button>
</div>
