<div class="rounded-xl flex justify-center border shadow-lg w-fit h-fit" {{did-insert this.setupQRCode}} 
{{did-update this.updateQRCode
    @height
    @width
    @data 
    @image 
    @dotcolor 
    @type
    @bgcolor
    @cornerSquare
    @cornerDot
    @colorStops0
    @colorStops1
    @image_type
    }}>
</div>
